<a href="https://colab.research.google.com/github/ullyem/python-class/blob/main/2%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%84%A0_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **변수**
-------------------

###1. 출력 : hello world 를 출력해 봅시다!

In [ ]:
# 출력을 하기위해서 사용하는 함수?

### 2. indent : 다음 코드의 계층적 구조를 이해해 봅시다!

In [ ]:
# simple.py
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach here")

### 3. 주석 : 다음코드에 주석을 달아봅시다!

In [ ]:
# simple.py
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach here")

### 4. 출력 : sep 옵션을 이용해서 다음 내용을 인쇄해봅시다!

In [ ]:
# 짜장면먹고 짬뽕먹고 군만두
# 소고기먹고 돼지고기먹고 닭고기먹고

a = "짜장면"
b = "짬뽕"
c = "군만두"
d = "소고기"
e = "돼지고기"
f = "닭고기"

###5. 입력 : 나이를 입력받아서 출력하는 입력구문을 만들어봅시다!

In [ ]:
# 당신의 나이는 몇살입니까? 출력하며 input 함수와 int 함수 이용

# 올해가 2021년도일때, 생년을 계산

# 당신은 몇년 생입니다. 출력

### 6. 변수 : 변수를 만들고 인쇄후 삭제

In [ ]:
# 변수이름을 지어봅시다. 넣으면 안되는 규칙은?

# 변수를 인쇄해 봅시다.

# 변수를 메모리에서 삭제해 봅시다.

# **타입**
-----------------

###1. 숫자형 : 다음 숫자를 미리 예상해봅시다.

In [ ]:
print(0x2f)

In [ ]:
print(0o17)

In [ ]:
print(0b1101)

In [ ]:
print(9.46e12)

In [ ]:
a = 1+2j
b = 3+4j
print(a+b)

###2. 문자형 : 다음 문자열을 출력해봅시다.

In [ ]:
# 내가 가장 좋아하는 판타지 소설은 "해리포터" 입니다.

# 나는 (개행) 오늘도 (tab) 행복합니다.

### 3. 문자형 : 긴 문장을 칠때

In [ ]:
s1 = """동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산"""

In [ ]:
s2 = "동해물과 백두산이 마르고 닳도록\
하느님이 보우하사 우리나라 만세\
무궁화 삼천리 화려강산"

In [ ]:
s3 = ("동해물과 백두산이 마르고 닳도록"
"하느님이 보우하사 우리나라 만세"
"무궁화 삼천리 화려강산")

In [ ]:
print(s1)

In [ ]:
print(s2)

In [ ]:
print(s3)

# **연산자**
------------

### 1. 대입 및 산술 : 다음 연산 출력해봅시다!

In [ ]:
# 3의 2 거듭제곱을 2로 나눈 나머지

In [ ]:
# 복합 대입 연산자를 사용해서 다음을 시도해보세요
a = 5

# a에 2를 더해서 a에 저장

# a에 3을 빼서 a에 저장

# a에 4를 곱해서 a에 저장

### 2. 문자열 연산 : 다음 연산을 출력해봅시다.

In [ ]:
a = "안녕하세요 "
b = "제 이름은 (성함을 적어주세요) 입니다."
c = "제 나이는 "
d = 32 # 본인의 나이를 적어주세요
e = "살 입니다."

In [ ]:
# 안녕하세요 제이름은 OOO 입니다. 를 출력해주세요

# 제 나이는 OO 살 입니다. 를 출력해주세요

In [ ]:
f = "제 키는"
g = "cm 입니다."

# input 으로 본인의 키를 입력해주세요

# 제 키는 OO cm 입니다. 를 출력해주세요.

### 3. 타입변환 : 다음을 출력해봅시다.

In [ ]:
a = "1.9425"

In [ ]:
print(a)

In [ ]:
print(float(a))

In [ ]:
print(int(a))

In [ ]:
print(int(float(a)))

In [ ]:
print(round(float(a)))

# **조건문**
--------------

### 1. 조건문 : 조건문을 만들어 봅시다.

In [ ]:
# a 에 여러가지 값을 넣고 돌려봅시다. 
a = 0

if a :
  print("yes")

### 2. 조건문 : 여러개의 조건문을 만들어 봅시다.

In [ ]:
# 인풋으로 가상의 파이선 시험성적을 받아서 var 에 저장해 봅시다. 예 : 80
var = int(input("파이선 성적을 적어주세요"))

# 해당 성적에 따라서 50점 미만은 낙제했습니다. 
# 50점 이상 80점 미만은 보통입니다.
# 80점 이상 90점 미만은 우수합니다.
# 90점 이상은 최우수에 속합니다. 라고 출력해주세요.

### 3. 블록구조 : 다음을 실행해 봅시다.

In [ ]:
age = 16
if age < 19 :
  print("애들은 가라")
  print("공부 열심히 해야지")

### 4. elif, else : elif 와 else를 이용해 봅시다.

In [ ]:
# 문제 2번에서 만든 조건문을 elif 와 else 를 이용해 고쳐봅시다.

# 반복문 
--------------------

### 1. while 반복문 : 아래 반복문을 실행하고 이해해 봅시다.

In [ ]:
num = 1
sum = 0
while num <= 100 : 
  sum += num
  num += 1
print("sum =", sum)

### 2. while 반복문 : 아래 코드를 작성해 봅시다.

In [ ]:
# 3의 배수 10개를 출력하는 코드

### 3. for 반복문 : 리스트 순회 / range

In [ ]:
l = ["철수", "영희", "서연"]
# for 문을 이용해서 l을 순회하며 OO야 안녕 을 출력해주세요

In [ ]:
# 1부터 10까지 수를 출력해봅시다.

In [ ]:
# 1부터 10까지 수중에서 2씩 건너뛴 수(홀수)를 출력해 봅시다.

###4. for 반복문 : while 문과 차이점 이해하기

In [ ]:
# 2번 문제를 for 문으로 바꿔봅시다.

### 5. break / continue 사용해보기

In [ ]:
# 1~10 까지 출력하는 for 문을 만들어 봅시다.
# 해당 for 문에서 5일때 continue 하며 해당 루프 숫자를 인쇄하는 대신 "5에 드디어 도달!" 이라는 글씨를 인쇄해 봅시다.
# 해당 for 문에서 8일때 break 하며 해당 루프 숫자를 인쇄하는 대신 "루프 탈출" 이라는 글씨를 인쇄해 봅시다!

### 6. 이중루프 이해하기

In [ ]:
for dan in range(2, 10):
  print(dan, "단")
  for hang in range(2, 10):
    print(dan, "*", hang, "=", dan*hang)
  print()

In [ ]:
dan = 2
while dan <= 9:
  hang = 2
  print(dan, "단")
  while hang <= 9:
    print(dan, "*", hang, "=", dan*hang)
    hang +=1
  dan+=1
  print()

### *7*. 이중루프 만들기

In [ ]:
# while 문을 이용해서 *을 1개 부터 20개까지 출력해보세요.

In [ ]:
# for 문을 이용해서 *을 1개 부터 20개까지 출력해보세요.

# **함수**
--------------

### 1. 함수 이해하기

In [ ]:
def calcsum(n):
  sum = 0
  for num in range(n+1):
    sum += num
  return sum

print("~ 4 =", calcsum(4))
print("~ 10 =", calcsum(10))
# 20 까지의 합을 구해보기

Q1. 해당 코드에서 형식인수는?
Q2. 해당 코드에서 실인수는?
Q3. 해당 코드에서 리턴 값은?

### 2. 함수 만들어 보기

In [ ]:
# 숫자를 넣으면 10을 곱해서 내보내는 함수

In [ ]:
# 아무 것도 넣지 않고 실행하면 "안녕하세요" 를 출력하고 아무것도 내보내지 않는 함수

### 3. 가변 인수 이해하기

In [ ]:
def intsum(*ints):
  sum = 0
  for num in ints:
    sum += num
  return sum

print(intsum(1, 2, 3))
# 더하고 싶은 숫자열을 넣어보세요

In [ ]:
def intsum(a, *ints):
  sum = 0
  for num in ints:
    sum += num
  sum = a*sum
  return sum

print(intsum(5, 1, 2, 3))

# a는? *ints는?
# a 와 *ints의 순서를 바꿔봅시다
# a 도 가변인수로 만들어 봅시다

### 4. default 값 지정 / 키워드 이해해보기

In [ ]:
def calcstep(begin, end, step = 1):
  sum = 0
  for num in range(begin, end + 1, step):
    sum += num
  return sum

print("1 ~ 10 = ", calcstep(1, 10, 2))
print("1 ~ 100 = ", calcstep(1, 100))
#default 를 step 3 으로 변경해보세요

In [ ]:
print("1 ~ 10 = ", calcstep(begin=1, end=10, step=2))
print("1 ~ 10 = ", calcstep(1, 10, step=2))
# begin, end, step 을 순서를 변경해보세요
# step 값을 넣지 말아보세요

### 5. 키워드 가변인수

In [ ]:
def calcstep(**args):
  begin = args['begin']
  end = args['end']
  step = args['step']

  sum = 0
  for num in range(begin, end + 1, step):
    sum += num
  return sum

print("1 ~ 10 = ", calcstep(begin=1, end=10, step=2))
# 키워드 순서를 변경해보세요
# 키워드 hello 를 하나 추가해서 calcstep 내부에서 인쇄해보세요

###6. 지역 변수 / 전역 변수 이해하기

In [ ]:
salerate = 0.9
price = 10000

def kim():
  print("오늘의 할인율 : ", salerate)

def lee():
  price = 1000
  print("가격 : ", price*salerate)

kim()
salerate=1.1
lee()
print(price)

### 7. global 함수 이해하기

In [ ]:
global a
a = 1
print(a) 

def test():
    global a
    a = 3
    b = 2
    return a + b
 
 
print(test())
print(a)

### 8. docstring

In [ ]:
# 2. 번에서 만든 함수에서 docstring 을 달아봅시다!

# **문자열 관리**
------------

### 1. 문자열 분리

In [ ]:
s = "python"

# t를 인쇄해 봅시다
# t를 -첨자를 이용하여 인쇄해봅시다.

In [ ]:
# while 문을 이용해서 s 를 한글자씩 ","로 seperate 해서 인쇄해봅시다.

### 2. slice

In [ ]:
a = "Life is too short, You need Python"
# Life is too short 와 You need Python으로 나눠보세요

In [ ]:
a = "20010331Rainy"
# 년도, 월, 일, 날씨로 나눠보세요

### 3. 문자열 메서드 : len, find, in

In [ ]:
s = "hello python world"
# 문자열의 길이를 구하시오

# w의 위치는?

# 구문에서 o가 몇개 있나요?

# 문자열에 "python" 이 있나요?

### 4. 문자열 메서드 : is~()

In [ ]:
ss = "hello"
print(ss.isalpha())
print(ss.islower())
print(ss.isdigit())

###5. 문자열 메서드 : split

In [ ]:
sss = "맑음*-*흐림*-*비옴*-*미세먼지"
#sss를 *-*를 제거하여 list 에 저장해봅시다.
#제거된 list를 for 문으로 출력해봅시다.

### 6. 문자열 메서드 : splitlines

In [ ]:
ssss = """Hello everyone
My name is seoyeon
Nice to meet you"""

ssss.splitlines()

#위의 문장을 개행문자를 이용한 한줄로 바꾼후 다시 splitlines를 적용해보세요

### 7. 문자열 메서드 : ljust, rjust

In [ ]:
Str = 'String is very hard!!...'

print(Str.ljust(50,'=')) 
print(Str.rjust(50,'='))

###8. 문자열 메서드 : center

In [ ]:
Str = 'String is very hard!!...'

print(Str.center(50,'='))

### 9. 포멧팅 : 다양한 타입

In [ ]:
이름 = "양서연" #본인이름
나이 = 32 #본인나이
키 = 165.5 #본인키 (소수점)

# 포멧팅 방식으로 이름 str , 나이 int, 키 float 형태로 
# 안녕하세요 제이름은 (이름) 입니다. 나이는 (나이) 살이고 키는 (키)cm 입니다. 를 출력해주세요.

### 10. 포멧팅 : 숫자

In [ ]:
price = 10.3864
print("가격: %f % price)

#10 자리로 출력(오른쪽 정렬)

#10 자리로 출력(왼쪽 정렬)

# 소수점 3째자리까지 출력(오른쪽 정렬)

# **리스트와 튜플**
-------------

### 1. 리스트 : 값 인쇄해보기

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 6 출력해보기

# 4~8까지 수만 뽑아보기

# 9를 12로 바꿔보기

# 3~5 자리에 [60, 70, 80, 90, 100] 넣어보기

### 2. 리스트 : 컴프레헨션 이해하기

In [ ]:
nums = [n*2 for n in range(1, 11)]
nums

In [ ]:
nums = []
for n in range(1, 11):
  nums.append(n*2)

### 3. 리스트 : append, insert, remove

In [ ]:
score = [32, 64, 79, 50]

# append 로 성적 2개를 넣어보세요

# insert 로 3번째 index에 100을 넣어보세요

# 4번째 index 자리에 20, 30, 40 을 4번째, 5, 6번째 인덱스가 되도록 넣어보세요

# 넣었던 40 을 삭제해 보세요

# del 을 이용해 2번째 값을 지워보세요

# 5~7번째 값을 sliding을 통해 지워보세요

In [ ]:
score.clear()

### 4. 리스트 : 검색

In [ ]:
score = [ 22, 35, 80, 40, 75, 14]
print(max(score))
print(min(score))
print(40 in score)

### 5. 리스트 : 정렬

In [ ]:
num_list = [15, 22, 8, 79, 10]
num_list.sort()
print(num_list)

In [ ]:
str_list = ['좋은하루','good_morning','굿모닝','niceday']
str_list.sort()
print(str_list)

In [ ]:
ans = [5, 20, 93, 30, 55]
print(sorted(ans))

In [ ]:
num_list = [15, 22, 8, 79, 10]
num_list.sort(reverse=True)
print(num_list)

In [ ]:
str_list = ['hello','good_morning','wow','niceday']
print(sorted(str_list, key=len))

In [ ]:
str_list = ['hello','good_morning','wow','niceday']
print(sorted(str_list, key=str.lower))

### 6. 튜플 : 여러개의 인자 동시에 받기

In [ ]:
import time

def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

result = gettime() # result 의 자료형은?
print("지금은 %d시 %d분입니다" % (result[0], result[1]))

In [ ]:
a = divmod(10, 3) #10을 3으로 나눈 나머지
print(a) # 몫, 나머지

# **사전과 집합**
------------------

###1. 사전 : 값 출력 / 입력 / keys , values, items

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
# school 키에 대한 값을 출력

# get 을 이용하여 book 키에 대한 값을 출력, 없을시 없는 단어라는 안내

# 'hello':'안녕' 이라는 값 추가

# school 키의 값 삭제

# keys 출력

# values 출력

# items 출력

### 2. 사전 : update, dict

In [ ]:
a = {'alice': [1, 2, 3], 'bob': 20, 'tony': 15, 'suzy': 30}
a.update({'bob':99, 'tony':99, 'kim': 30})
a

In [ ]:
b = dict()
print(b)
b['id']='test'
print(b)

### 3. 사전 : isalpha() , not in 이해하기

In [ ]:
song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a strange land """

alphabet = dict()
for c in song :
  if c.isalpha() == False:
    continue
  c = c.lower()
  if c not in alphabet :
    alphabet[c] = 1
  else:
    alphabet[c] += 1

print(alphabet)

### 4. 집합 : set() , add, update

In [ ]:
my_set = set()
print(my_set)
my_set.add(5)
print(my_set)
my_set.update("hello")
print(my_set)

### 5. 집합 : set operation

In [ ]:
twox = {2, 4, 6, 8, 10, 12}
threex = {3, 6, 8, 12, 15}

print("교집합", twox & threex)
print("합집합", twox | threex)
print("차집합", twox - threex)
print("차집합", threex - twox)
print("배타적 차집합", twox ^ threex)

# **컬렉션 관리**
-----------

### 1. enumerate

In [ ]:
for i, name in enumerate(['body', 'foo', 'bar']): 
  print(i, name)

### 2. zip

In [ ]:
a = [1, 2, 3, 4, 5]
b = ["월", "화", "수", "목", "금"]

z  = zip(a, b)
for aa, bb in z:
  print(aa, bb)

### 3. filter

In [ ]:
# x 가 30 이상 60 미만인 flunk 함수를 만드세요


score = [10, 26, 94, 58, 38, 69]
for s in filter(flunk, score):
  print(s)

### 4. map

In [ ]:
# x 를 3으로 나눈 나머지를 내보내는 flunk 함수를 만드세요


score = [10, 26, 94, 58, 38, 69]
for s in map(flunk, score):
  print(s)

### 5. lambda

In [ ]:
# 4. 번 문제를 lambda 함수로 고쳐보세요

# **파일**
---------

직관적인 이해를 돕기 위해서 해당 단원부터는 pycharm 을 이용하여 진행합니다. 
코드만 셀에서 복사해서 쓰세요.

### 1. 파일 입력

In [ ]:
f = open("live.txt", "wt")
f.write("""hello friends
my name is seoyeon
nice to meet you
i love python""")
f.close()

### 2. 파일 읽기

In [ ]:
try :
  f = open("live.txt", "rt")
  text = f.read()
  print(text)
except FileNotFoundError :
  print("파일이 없습니다.")
finally :
  f.close

### 3. readline 함수

In [ ]:
f = open("live.txt", "rt")
text = ""
line = 1
while True :
  row = f.readline()
  if not row : break
  text += str(line) + " : " + row
  line += 1
f.close()
print(text)

### 4. tell / seek 함수

In [ ]:
f = open("live.txt", "rt")
print(f.tell())
print(f.readline())
print(f.tell())
print(f.readline())
print(f.tell())
f.seek(0)
print(f.readline())
print(f.tell())

### 5. listdir 함수

In [ ]:
import os
files = os.listdir(".")
for f in files :
  print(f)

### 6. split, rstrip

In [ ]:
Examp = "V1#V2#V3#V4"
x = Examp.split("#")
print(x)

['V1', 'V2', 'V3', 'V4']

In [ ]:
a= " hi "
print(a.rstrip())
print(a.lstrip())
print(a.strip())

 hi
hi
hi

In [ ]:
text = '0000000Water boils at 100 degrees 000'
print(text.lstrip('0'))
print(text.rstrip('0'))
print(text.strip('0'))

Water boils at 100 degrees 000
0000000Water boils at 100 degrees
Water boils at 100 degrees

# **클래스**
-------------

### 1. 클래스 : 객체

In [ ]:
class Human():
  def __init__(self, age, name):
    self.age = age
    self.name = name
  def intro(self):
    print(str(self.age) + "살 " + str(self.name) + "입니다.")

kim = Human(32, "양서연")
kim.intro()

# 여러분의 객체를 만들어보고 intro 해보세요

# 키라는 멤버 변수를 만들어보세요

# height 이라는 함수에서 키가 인쇄되도록 해보세요

### 2. 클래스 : 상속

In [ ]:
class Human():

  def __init__(self, age, name):
    self.age = age
    self.name = name

  def intro(self):
    print(str(self.age) + "살 " + str(self.name) + "입니다.")

class Student(Human):

  def __init__(self, age, name, stunum):
    super().__init__(age, name)
    self.stunum = stunum

  def intro(self):
    super().intro()
    print("학번 : " + str(self.stunum))

  def study(self):
    print("하늘 천 따지")

kim = Human(32, "양서연")
kim.intro()
lee = Student(25, "이승우", 234299)
lee.intro()
lee.study()

# 위에서 한대로 키 멤버 변수와 키를 인쇄하는 함수를 human에 만들고
# student에서 키를 인쇄하는 함수를 상속받아 "키가 정말 크군요" 라고 추가 인쇄해보세요

### 3. 클래스 : 엑세서

In [ ]:
class Date : 
  def __init__(self, month) :
    self.month = month

  def getmonth(self) :
    return self.month

  def setmonth(self, month) :
    if 1 <= month <= 12:
      self.month = month

today = Date(8)
today.setmonth(15)
print(today.getmonth())

### 4. 클래스 메서드 : @classmethod 데커레이터

In [ ]:
class Car : 
  @staticmethod
  def hello():
    print("오늘도 안전 운행 합시다.")

  count = 0
  def __init__(self, name):
    self.name = name
    Car.count += 1

  @classmethod
  def outcount(cls):
    print(cls.count)

pride = Car("프라이드")
korando = Car("코란도")

Car.outcount()
Car.hello()

# 모듈과 패키지

### 1. 모듈

In [ ]:
# util.py
INCH = 2.54

def calcsum(n):
  sum = 0
  for num in range(n + 1):
    sum += num
  return sum

if __name__ = "__main__":
  print("인치 = ", INCH)
  print("합계 = ", calcsum(10))

In [ ]:
#utiltest.py
import util

print("1 inch = ", util.INCH)
print("~10 = ", util.calcsum(10))

In [ ]:
import sys
sys.path
sys.path.append("경로")

### 2. 패키지

In [ ]:
#add.py
def outadd(a,b):
  print(a+b)

In [ ]:
#multi.py
def outmulti(a,b):
  print(a*b)

In [ ]:
#table.py
def printreport():
  print("-"*40)
  print("report")
  print("-"*40)